IntTeTestat/Service References/GuessServiceReference/GuessService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IntTeTestat.Web.Util" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IntTeTestat.Web.Util" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGuess">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Guess" nillable="true" type="tns:Guess" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGuess" nillable="true" type="tns:ArrayOfGuess" />
  <xs:complexType name="Guess">
    <xs:sequence>
      <xs:element minOccurs="0" name="Value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Guess" nillable="true" type="tns:Guess" />
</xs:schema>